#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#a1, #a2 {
  flex-basis: 25%;
  min-height:20px;
}

#a1 {
  border:1px solid green;
}
#a2 {
  border:1px solid orangered;
}